{% extends "wedding/base.html" %}

{% load gedeck_tags %}
{% load static %}


{% block main %}


	<div class="title invite-ref" data-ref="{{ invite.ref }}">
		<h1>RSVP</h1>
		<h2>Please let us know whether you're coming or not.</h2>
	</div>
	<div class="col-lg-12 detail">
		<br/>
	{% if not all_done %}
		<h2 class="muted">{{ invite.lead|default:"Select the guests who wish to RSVP" }}</h2>
	{% else %}
		<h2 class="">{{ invite.lead_on_complete|default:"<b>All done, Thank you!</b> If you wish to make any changes please select a guest from below" }}</h2>
	{% endif %}
	</div>
	<br>
	<div class="row">
	{% for guest in guests %}
		<div class="col-lg-6 rsvp">
			<div class="thumbnail">
				<div class="caption">
					<h4 class="ruled">{{ guest.name }}</h4>
					<div class="btn-group btn-group-vertical">
						{% for activity in invite.event.activities.all %}
							<a href="{% url 'rsvp' invite.ref activity.id guest.id %}" type="button" class="btn {% if activity|has_activity_rsvp:guest %}btn-success{% else %}btn-default{% endif %}">
								<b>{{ activity.name }}</b> <i class="fa {% if activity|has_activity_rsvp:guest %}fa-check-square-o{% else %}fa-square-o{% endif %} pull-right"></i>
							</a>
						{% endfor %}
						{% if invite.menu %}{# Check the invite includes menu options #}
							<a href="{% url 'menu_select_for_guest' invite.ref guest.id %}" type="button" class="btn {% if guest|has_menu_selection:invite.event %}btn-success{% else %}btn-default{% endif %}">
								Menu Selection <i class="fa {% if guest.has_menu_options %}fa-check-square-o{% else %}fa-square-o{% endif %} pull-right"></i>
							</a>
						{% endif %}
						{% if invite.preference %}
							<a href="{% url 'preference_select_for_guest' invite.ref guest.id %}" type="button" class="btn {% if guest|has_preference_selection:invite.event %}btn-success{% else %}btn-default{% endif %}">
								{{ invite.preference.title }}
								{% if invite.preference.required %}
									<i class="fa {% if guest.has_preference %}fa-check-square-o{% else %}fa-square-o{% endif %} pull-right"></i>
								{% endif %}
							</a>
						{% endif %}
					</div>

				</div>
			</div>
		</div>
	{% endfor %}

	</div>

	<a class="huh" href="/#polterabend" target="_blank">Wait...what is a polterabend?</a>

	<br/>

	<div class="col-lg-12 detail">
		<h2>The gift of music</h2>
		<br/>
		<p>It just so happens that we have an abundance of rabbit-shaped salt shakers and quirky coffee cups.</p>
		<p>So instead of giving us gifts we would really appreciate a song dedication from you.</p>
		<p>When we listen to this song we'll be thinking of you, so please choose wisely.</p>
	</div>

	<div class="song-select">
		{% if not song %}
			<input class="search-song" type="text" placeholder="Start typing your song name here (EG. 'Nancy Sinatra - These Boots Were Made For Walkin')"/>
			<div class="search-loader">
				<img src="{% static "img/heart.svg" %}" rel="stylesheet">
				Searching

			</div>
			<div class="search-results"></div>
		{% else %}
			<div class="col-lg-12 detail">
				<br/>
				<h2>Your song dedication to us</h2>
				<h1 class="track-name">{{ song }}</h1>
			</div>

		{% endif %}
	</div>

	<div class="details">
		<div class="detail col-lg-12">
			<a href="/venue/">View Map and Accomodation Options</a>
		</div>
	</div>

{% endblock %}
