{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Wedding</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans|Pacifico' rel='stylesheet' type='text/css'>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/styles.css" %}" rel="stylesheet">
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="{% static "js/main.js" %}"></script>
	<link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
</head>
<body>
	{% if alert %}
		<div class="alert">
			{{ alert }}
		</div>
	{% endif %}

	<div class="background">

	</div>

    <div class="main container">

        {% block main %}

        {% endblock %}

    </div>
</body>
</html>
