{% extends "wedding/base.html" %}
{% load static %}

{% block main %}

        <div class="title">
            <h1>We're getting married!</h1>
            <br/>
            <h2>And we would love it if you could join us for the festivities.</h2>
        </div>
        <div class="details">


            <div class="detail col-lg-3">
                <h2>Date</h2>
                <h3>30th April 2016</h3>
            </div>
            <div class="detail col-lg-3">
                <h2>Time</h2>
                <h3>5:30 for 6:00</h3>
            </div>

            <div class="detail col-lg-3">
                <h2>Dress Code</h2>
                <h3>Smart casual</h3>
            </div>

            <div class="detail col-lg-3">
                <h2>Sorry</h2>
                <h3>No children</h3>
            </div>

            <div class="clearfix"></div>
            <div class="detail col-lg-12">
                <h2>Venue</h2>
                <h3>Hap</h3>
                <h3>115 Malerbe Street</h3>
                <h3>Capital Park</h3>
                <h3>Pretoria</h3>

                <a href="/venue/">View Map and Accomodation Options</a>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="polterabend">
            <div class="title">
                <h1>Polterabend</h1>
                <h2>Please Join us the night before the wedding for a traditional German wedding custom!</h2>
                <h2>We would be honoured if you would bring luck to our marriage by breaking plates, making noise and drinking Gluhwein with us.</h2>
                <h2>(It turns out the Germans and the Greeks have something in common after all)</h2>

            </div>

            <div class="details">

                <div class="detail col-lg-4">
                    <h2>Date</h2>
                    <h3>29th April 2016</h3>
                </div>


                <div class="detail col-lg-4">
                    <h2>Venue</h2>
                    <h3>2 Lyell's Lane</h3>
                    <h3>Eldoraigne</h3>
                    <h3>Centurion</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.296759816384!2d28.159476551309222!3d-25.859708556257498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95645780daca15%3A0xeef9c05b22dceb37!2s2+Lyell&#39;s+Ln%2C+Centurion%2C+0157!5e0!3m2!1sen!2sza!4v1457799286126" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <div class="detail col-lg-4">
                    <h2>Time</h2>
                    <h3>5:30 for 6:00</h3>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

{% endblock %}
