{% extends "wedding/base.html" %}
{% load static %}

{% block main %}

        <div class="col-lg-12 title">
            <h1>Venue</h1>
            <h2>We will be celebrating our union at the hAp venue in Capital Park, Pretoria</h2>
        </div>


		<div class="col-lg-12 detail">
			<h2>Map</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.255076516337!2d28.180941450919924!3d-25.72907698357129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebfd8a272b69929%3A0x9d69fead6c210c35!2s116+Venter+St%2C+Pretoria%2C+0084!5e0!3m2!1sen!2sza!4v1459004742567" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

		<div class="col-lg-12 title">
			<h1>Accomodation</h1>
			<h2>There are several accomodation options in the area</h2>
		</div>

		<div class="col-lg-12 section">
			<h2>R 300 - 500 pp</h2>
		</div>

		<div class="clearfix"></div>

		<div class="col-lg-12 divider"/>

		<div class="clearfix"></div>

		<div class="col-lg-4 detail">
        	<div class="detail">
				<div class="venue">
					<img src="{% static "img/guesthouses/palm-view.jpg" %}"/>
					<h1>PalmView Guesthouse</h1>
					<a href="https://www.safarinow.com/go/palmviewguesthousepretoria/" target="_blank">View guesthouse</a>
					<a href="https://www.safarinow.com/go/palmviewguesthousepretoria/requestquote" target="_blank">Request quote</a>
				</div>
			</div>
        </div>
		<div class="col-lg-4 detail">
			<div class="detail">
				<div class="venue">
					<img src="{% static "img/guesthouses/amper-bo.jpg" %}"/>
					<h1>Amper Bo Guesthouse</h1>
					<a href="https://www.safarinow.com/go/amperbogastehuis/" target="_blank">View guesthouse</a>
					<a href="https://www.safarinow.com/go/amperbogastehuis/#booknow" target="_blank">Request quote</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 detail">
			<div class="detail">
				<div class="venue">
					<img src="{% static "img/guesthouses/11th-ave.jpg" %}"/>
					<h1>11th Avenue Guesthouse</h1>
					<a href="https://www.safarinow.com/go/11thavenueguesthouse/" target="_blank">View guesthouse</a>
					<a href="https://www.safarinow.com/go/11thavenueguesthouse/requestquote" target="_blank">Request quote</a>
				</div>
			</div>
		</div>

        <div class="col-lg-4 detail">
			<div class="detail">
				<div class="venue">
					<img src="{% static "img/guesthouses/ambiance-delight.jpg" %}"/>
					<h1>Abiance Delight</h1>
					<a href="https://www.travelground.com/accommodation/ambiance-delight" target="_blank">View guesthouse</a>
					<a href="https://www.travelground.com/accommodation/ambiance-delight/book" target="_blank">Request quote</a>
				</div>
			</div>
		</div>

        <div class="col-lg-4 detail">
			<div class="detail">
				<div class="venue">
					<img src="{% static "img/guesthouses/villa-d-rust.jpg" %}"/>
					<h1>Villa D Rust</h1>
					<a href="https://www.travelground.com/accommodation/villa-d-rust-self-catering" target="_blank">View guesthouse</a>
					<a href="https://www.travelground.com/accommodation/villa-d-rust-self-catering/book" target="_blank">Request quote</a>
				</div>
			</div>
		</div>

        <div class="col-lg-4 detail">
            <div class="detail">
                <div class="venue">
                    <img src="{% static "img/guesthouses/green-valley-lodge.jpg" %}"/>
                    <h1>Green Valley Lodge</h1>
                    <a href="https://www.travelground.com/accommodation/green-valley-lodge" target="_blank">View guesthouse</a>
                    <a href="https://www.travelground.com/accommodation/green-valley-lodge/book" target="_blank">Request quote</a>
                </div>
            </div>
        </div>

			<div class="clearfix"></div>

		<div class="clearfix"></div>

		<div class="col-lg-12 divider"/>

		<div class="clearfix"></div>

{% endblock %}
